---
import Navbar from "../components/Navbar.astro";

export interface Props {
  title: string;
  description?: string;
  lang?: string;
}

const {
  title,
  description = "Joan Guinart Portfolio",
  lang = "en",
} = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500;600&display=swap"
      rel="stylesheet"
    />

    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <slot />
  </body>
</html>

<style lang="scss">
  @use "../styles/global" as *;
</style>
